[submodule "Fodo/vendor/spdlog"]
	path = Fodo/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Fodo/vendor/GLFW"]
	path = Fodo/vendor/GLFW
	url = https://github.com/fedi-nabli/glfw.git
[submodule "Fodo/vendor/imgui"]
	path = Fodo/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Fodo/vendor/glm"]
	path = Fodo/vendor/glm
	url = https://github.com/g-truc/glm.git
